@charset "utf-8";

/*건너뛰기링크*/
#accessibility {position:absolute;left:0;top:0;z-index:2000;width:100%}
#accessibility a {display:block;width:1px;height:1px;margin-bottom:-1px;overflow:hidden;text-align:center;font-weight:bold;color:#fff}
#accessibility a:focus, #accessibility a:active {width:100%;height:auto;padding:7px 0;background-color:#000}

/*공통부분*/
input[type=text],input[type=password],input[type=tel],input[type=email]{height:24px;padding:0 5px;border:1px solid #bababa;background:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type=checkbox], input[type=radio] {margin-top:-1px;margin-bottom:1px;}
textarea{padding:5px;border:1px solid #bababa;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select{height:26px;margin:0;vertical-align:middle;background:#fff;border:1px solid #bababa;}

h1,h2,h3,h4,h5,h6,th,thead{font-weight: 500;}

a:hover{text-decoration: underline;}
header a:hover{text-decoration: none;}

/* 모든 Device를 위한 공통 로드 */

body{width: 100%;position: relative;}

header{width: 100%;height: 147px;position: absolute;left: 0;top: 0;z-index: 10;border-bottom: 1px solid rgba(255,255,255,0.3);position: fixed;background-color: rgba(0,0,0,0.6);}
header .h_b{height: 48px;background-color: rgba(0,0,0,0.6);border-bottom: 1px solid rgba(255,255,255,0.3);}
header .h_w{max-width: 1200px;margin: 0 auto;}
header .h_w h1{position: absolute;top: 75px;display: inline-block;max-width: 205px;max-height: 50px;}
header .u_l{text-align: right;}
header .u_l > li{display: inline-block;vertical-align: middle;text-align: center;padding: 0 30px;background: url('../img/common/top-bar.png') right center no-repeat;font-size: 14px;color: #fff;}
header .u_l li a{color: #fff;}
header .u_l li.font{background: none;}
header .u_l li.sitemap{background: none;}
header .u_l li.search{background-image: none;width: 58px;height: 49px;background: #d01524 url('../img/common/top-search.png') center no-repeat;padding: 0;position: relative;}
header .u_l li.search a{display: block;width: 100%;height: 100%;}
header .u_l li.search .search-area{display: none;position: absolute;right: 0;top: 0;width: 536px;height: 49px;border: 4px solid #d01524;box-sizing: border-box;background-color: #fff;z-index: 1;}
header .u_l li.search .search-area input[type=text]{border: none;position: absolute;left: 0;top: 0;width: 412px;height: 40px;padding: 5px 20px;box-sizing: border-box;}
header .u_l li.search .search-area button[type=submit]{position: absolute;right: 58px;top: 0;width: 58px;height: 41px;background: #d01524 url('../img/common/top-search.png') center no-repeat;}
header .u_l li.search .search-area button[type=button]{border: none;position: absolute;right: 0;top: 0;width: 58px;height: 41px;background: #d01524 url('../img/common/top-close.png') center no-repeat;}
header .u_l li.search .search-area.on{display: block;}
header .u_l li.font .btn-fz{display: inline-block;margin-left: 8px;vertical-align: middle;}
header .u_l li.font .btn-fz a{display: inline-block;margin-left: 5px;text-indent: -9999px;width: 16px;height: 16px;background: url('') 0 0 no-repeat;}
header .u_l li.font .btn-fz a.lg{background-image: url('../img/common/btn-fz-lg.png');}
header .u_l li.font .btn-fz a.md{width: 42px;height: 15px;background-image: url('../img/common/btn-fz-md.png');}
header .u_l li.font .btn-fz a.sm{background-image: url('../img/common/btn-fz-sm.png');}

#gnb{height: 98px;}
#gnb .g_w{max-width: 1200px;height: 100%;margin: 0 auto;}
.st_g_l{font-size: 0;text-align: right;}
.st_g_l > li{display: inline-block;vertical-align: top;margin-left: 30px;}
.st_g_l > li > a{display: inline-block;width: 100%;text-align: center;color:#fff;font-size: 19px;height: 98px;padding: 35px 0;box-sizing: border-box;width: 100%;min-width: 120px;position: relative;}
.st_g_l > li > ul{display: none;position: absolute;padding: 20px 0 0 0;z-index: 10;width: 100%;box-sizing: border-box;}
.st_g_l > li > ul > li{text-align: left;}
.st_g_l > li > ul > li > a{display: inline-block;box-sizing: border-box;padding: 10px 0;width: 100%;max-width: 140px;font-size: 16px;color: #5c5c5c;position: relative;}

.gnbBg{display: none;position: absolute;top: 147px;left: 0;box-sizing: border-box;width: 100%;border-top: 1px solid #a7a7a7;background: #fff url('../img/common/gnb_bdb.png') left bottom no-repeat;background-size: 100% 6px;}
header.on .st_g_l > li > a{color: #000;}
header.on #gnb{background-color: #fff;}
header.on .st_g_l > li.on a, header.on .st_g_l > li:hover a{color: #d01524;}
.st_g_l > li > a:after, .st_g_l > li > a:after{content: "";display: block;width: 0;height: 6px;position: absolute;bottom: -3px;left: 50%;transform:translateX(-50%);transition: 0.3s;background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);}
.st_g_l > li.on > a:after, .st_g_l > li:hover > a:after{width: 100%;}
.st_g_l > li > ul > li.on > a, .st_g_l > li > ul > li > a:hover{font-weight: 500;padding-left: 13px;}
.st_g_l > li > ul > li.on > a:before, .st_g_l > li > ul > li > a:hover:before{content:"";display: block;width: 13px;height: 100%;background: url('../img/common/gnb_dp2_on.png') no-repeat;background-position: 0 19px;position: absolute;left: 0;top: 0;}
.m-gnbTop{display: none;}
.m-menu{display: none;}
.m-search-area{display: none;}
.bbg{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background-color: rgba(0,0,0,0.8);z-index: 1;display: none;}

#container.sub + #banner{border-top: 1px solid #cacaca;}
#banner{background-color: #fff;}
#banner > .b_w{max-width: 1200px;margin: 0 auto;position: relative;padding: 10px 55px;box-sizing: border-box;}
#banner ul.c_l a.bt{display:block;border:1px solid #bebebe;}
#banner ul.c_l button.bt{position: absolute;top: 50%;margin-top: -14px;}
#banner ul.c_l button.bt.t1{width:28px;height:28px;background:#fff url('../img/common/slide_prev.png') center center no-repeat;left: 0;}
#banner ul.c_l button.bt.t2{display: none;}
#banner ul.c_l button.bt.t3{width:28px;height:28px;background:#fff url('../img/common/slide_next.png') center center no-repeat;right: 0;}
#banner ul.c_l a.bt.t4{height:18px;background:#fff url('../img/common/slide_all.png') center center no-repeat;}
#banner .b_l{overflow:hidden;width:auto !important;}
#banner .owl-carousel .owl-item img{max-height: 45px;width:auto;margin: auto;}

footer{background-color: #fff;border-top: 1px solid #cacaca;}
footer .f_w{max-width: 1200px;margin: 0 auto;position: relative;padding: 25px 0 50px;}
footer .f_l{font-size: 0;margin-left: -30px;}
footer .f_l > li{display: inline-block;margin-left: 30px;padding-left:30px;font-size: 14px;background: url('../img/common/bottom-bar.png') left center no-repeat;}
footer .f_l > li.privacy{background: none;padding-left: 0;}
footer .f_l > li.privacy a{color: #242424;}
footer .f_l > li a{color: #7a7a7a;}
footer .f_l.mobile{display: none;}
.rel-site{position: absolute;display: inline-block;right: 0;top: 20px;z-index: 1;}
.rel-btn{border: 1px solid #9c9c9c;color: #343434;padding: 0 10px;box-sizing: border-box;width: 189px;height: 35px;line-height: 35px;font-size: 12px;display: block;}
.rel-btn a{display: block;background: url('../img/common/rel-btn-arrow.png') right center no-repeat;}
.rel-btn.on a{background-image: url('../img/common/rel-btn-arrow-on.png');}
.rel-list{display: none;position: absolute;top: -100%;background-color: #f9f9f9;z-index: 1;width: 189px;margin-top: -81px;}
.rel-list.on{display: block;}
.rel-list a{color: #000;display: block;padding: 10px;box-sizing: border-box;border: 1px solid #c9c9c9;margin-top: -1px;font-size: 12px;}
.rel-list a:hover{background-color: #f1f1f1;}
.grayscale{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray; /* IE 6-9 */}
footer .ft-logo{position: absolute;top: 80px;left: 0;max-width: 140px;max-height: 35px;}
footer .ft-content{padding-left: 160px;margin-top: 30px;color: #8c8c8c;font-size: 13px;padding-right: 150px;}
footer .snsBtn{display:none;position: absolute;top: 70px;right: 0;}
footer .snsBtn a{display: inline-block;width: 35px;height: 35px;background: url('') center no-repeat;margin-left: 10px;}
footer .snsBtn .kakao{background-image: url('../img/common/sns-btn-kakao.png');}
footer .snsBtn .twitter{background-image: url('../img/common/sns-btn-twitter.png');}
footer .snsBtn .face{background-image: url('../img/common/sns-btn-face.png');}

footer.qr .f_w {text-align:left;}
footer .qrcode {position:absolute; top:50%; right:0px;margin-top:-50px;}
footer .qrcode img {max-width:100px;}

@media screen and (max-width: 1024px){
	footer .qrcode{display:block;position:static;top:auto;right:auto;margin:20px 0;}
}
@media screen and (max-width: 768px){
	footer .qrcode{display:none}
}

@media screen and (max-width: 1219px) and (min-width: 1025px){
	header .h_w, #gnb .g_w, #banner > .b_w, footer .f_w{max-width: 1024px;}
	.st_g_l > li{padding: 0 10px;}
	.st_g_l > li > a{min-width: 100px;}
	.st_g_l > li > ul > li > a{max-width: 110px;}
}

@media screen and (max-width:1024px){
	#banner > .b_w, footer .f_w, .content .w{padding-left: 10px;padding-right: 10px;}
	header{height: 65px;background-color: rgba(0,0,0,0.6);position: static;}
	header .h_b{height: 0;border-bottom: none;}
	header .h_w h1{left: 10px;top: 16px;max-width: 150px;max-height: 40px;}
	header .u_m{display: none;}
	.gnbBg{display: none;}
	#gnb{width: 260px;height: 100%;min-height:400px;position: absolute;right: 0;top: 0;background-color: #fff;display: none;z-index: 100;}
	#gnb .g_w{padding: 0;height: auto;background-color: #fff;}
	.m-gnbTop{display: block;background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);height: 65px;position: relative;}
	.m-gnbTop .m-gnb-close{position: absolute;left: -40px;top: 20px;}
	.m-gnbTop .m-gnb-close a{display: block;width: 21px;height: 24px;background: url('../img/common/m-gnb-close.png') center/contain no-repeat;text-indent: -9999px;font-size: 0;}
	.gnbLogo{position: absolute;left: 15px;top: 20px;max-width: 100px;}
	.m-topMenu{position: absolute;right: 15px;top: 22px;}
	.m-topMenu a{display: inline-block;font-size: 14px;color: #fff;margin-left: 15px;}
	.m-topMenu a:hover{text-decoration: underline;}

	.m-menu{display: block;position: absolute;right: 10px;top: 22px;}
	.m-menu a{display: inline-block;margin-left: 30px;}
	.m-menu .m-search{width: 18px;height: 21px;background: url('../img/common/m-search.png') 0 0/contain no-repeat;text-indent: -9999px;}
	.m-menu .m-gnb-open{width: 25px;height: 21px;background: url('../img/common/m-menu.png') 0 0/contain no-repeat;text-indent: -9999px;}
	.m-search-area{display: block;position: absolute;top: 65px;width:100%;height: 55px;line-height: 35px;padding:10px;box-sizing:border-box;background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);font-size: 0;display: none;}
	.m-search-area:before{content: "";display: block;width: 12px;height: 10px;position: absolute;top: -10px;right: 70px;background: url('../img/common/m-search-area-bg.png') 0 0 no-repeat;background-size: 12px 10px;}
	.m-search-area input[type=text]{display: inline;width: 100%;box-sizing: border-box;padding: 10px 50px 10px 10px;height: 35px;border: none;}
	.m-search-area button[type=submit]{width: 30px;height: 20px;position: absolute;right: 20px;top: 17px;background: url('../img/common/m-search-btn.png') center no-repeat;background-size: 15px 17px;border-left: 1px solid #bebebe;}
	.m-search-area .searchClose{width: 18px;height: 21px;background: url('../img/common/m-search-close.png') 0 0/contain no-repeat;text-indent: -9999px;position: absolute;right: 68px;top: -42px;display: none;}

	.st_g_l > li.on a, .st_g_l > li:hover a{color: #333;}
	.st_g_l > li > a:after, .st_g_l > li > a:after{display: none;}
	.st_g_l{text-align: left;}
	.st_g_l > li{display: block;border-bottom: 1px solid #ccc;padding: 0;background: url('../img/common/m-gnb-off.png') 240px 17px no-repeat;background-size: 5px 9px;margin-left: 0;}
	.st_g_l > li.on{background-image: url('../img/common/m-gnb-on.png');background-position: 238px 19px;background-size: 9px 5px;}
	.st_g_l > li.on > ul{display: block;}
	.st_g_l > li > a{padding: 10px 15px;height: auto;color: #333;font-size: 15px;text-align: left;}
	.st_g_l > li > ul{display: none;position: static;padding: 5px 15px 10px 25px;background-color: #eaeaea;}
	.st_g_l > li > ul > li{margin-top: 5px;}
	.st_g_l > li > ul > li > a{font-size: 13px;padding: 0;color: #333;}
	.st_g_l > li > ul > li.on > a:before, .st_g_l > li > ul > li > a:hover:before{display: none;}
	.st_g_l > li > ul > li.on > a, .st_g_l > li > ul > li > a:hover{padding-left: 0;}
	
	#banner > .b_w{padding: 10px 50px;}
	#banner ul.c_l button.bt.t1{left: 10px;}
	#banner ul.c_l button.bt.t3{right: 10px;}
	footer .ft-logo{left: 10px;}
	.rel-site{right: 10px;}
	footer .snsBtn{right: 10px;}
}

@media screen and (max-width:768px){
	footer .f_w{padding: 0;}
	footer .rel-w{font-size: 0;width: 100%;}
	footer .f_l{display: none;}
	footer .f_l.mobile{display: inline-block;margin-left: 0;position: relative;}
	.rel-site{position: relative;right: 0;top: 0;margin-left: -1px;}
	footer .rel-w > div{width: 50%;margin-top: -1px;}
	.rel-btn{width: 100%;background-color: #9b9b9b;border-color: #cbcbcb;}
	.rel-btn a{color: #fff;background-image: url('../img/common/m-rel-btn-arrow.png');background-size: 10px 10px;}
	.rel-btn.on a{background-image: url('../img/common/m-rel-btn-arrow-on.png');}
	.rel-list{width: 100%;}
	.rel-list.n1{margin-top: -120px;}
	footer .ft-logo{display: none;}
	footer .ft-content{padding: 20px 10px 50px;text-align: center;margin-top: 0;}
	footer .ft-content .copyright{margin-top: 10px;font-size: 10px;}
	footer .snsBtn{top:initial;right:initial;left: 50%;bottom: 10px;transform:translateX(-50%);}
	footer .snsBtn a{width: 25px;height: 25px;background-size: contain;}
}

@media screen and (max-width:480px){
	
}

header#sub{position: absolute;}
.sticky{position: fixed !important;top: 0;width: 100%;}