@charset "UTF-8";

/* font */
/* @font-face {
  font-family: 'NotoKR';
  font-weight: 400;
  font-display: fallback;
  src:url(font/NotoSansKR-Light.eot);
  src: local(NotoSansKR-Light);
  src:url(font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
  url(font/NotoSansKR-Light.woff) format('woff'),
  url(font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 500;
  font-display: fallback;
  src:url(font/NotoSansKR-Regular.eot);
  src: local(NotoSansKR-Regular);
  src:url(font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
  url(font/NotoSansKR-Regular.woff) format('woff'),
  url(font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 700;
  font-display: fallback;
  src:url(font/NotoSansKR-Medium.eot);
  src: local(NotoSansKR-Medium);
  src:url(font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
  url(font/NotoSansKR-Medium.woff) format('woff'),
  url(font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 900;
  font-display: fallback;
  src:url(font/NotoSans-Bold.eot);
  src: local(NotoSans-Bold);
  src:url(font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(font/NotoSans-Bold.woff) format('woff'),
  url(font/NotoSans-Bold.otf) format('opentype');
} */

/* font */

/* font */
@font-face {
  font-family: 'NotoKR';
  font-weight: 400;
  font-display: auto;
  src: local(NotoSansKR-Light);
  src: url(/resource/font/NotoSansKR/NotoSansKR-Light.eot); /* IE 호환성 보기 */
 src:url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2') format('woff2'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff') format('woff'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf') format('opentype');
		unicodeRange:
		  /****** Unicode Range **********/
		  /**** 영문 : ****/
		  U+0020-U+0020,U+0041-U+005A,U+0061-U+007A,
		  /**** 숫자 : ****/
		  U+0030-U+0039,U+002E-U+002E ,
		  /**** 한글 : ****/
		  U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60,
		  /**** 라틴 : ****/
		  U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E;
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 500;
  font-display: auto;
  src: local(NotoSansKR-Regular);
  src:url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2') format('woff2'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff') format('woff'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf') format('opentype');
		unicodeRange:
		  /****** Unicode Range **********/
		  /**** 영문 : ****/
		  U+0020-U+0020,U+0041-U+005A,U+0061-U+007A,
		  /**** 숫자 : ****/
		  U+0030-U+0039,U+002E-U+002E ,
		  /**** 한글 : ****/
		  U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60,
		  /**** 라틴 : ****/
		  U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E;
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 700;
  font-display: auto;
  src: local(NotoSansKR-Medium);
  src:url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2') format('woff2'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff') format('woff'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf') format('opentype');
		unicodeRange:
		   /****** Unicode Range **********/
		  /**** 영문 : ****/
		  U+0020-U+0020,U+0041-U+005A,U+0061-U+007A,
		  /**** 숫자 : ****/
		  U+0030-U+0039,U+002E-U+002E ,
		  /**** 한글 : ****/
		  U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60,
		  /**** 라틴 : ****/
		  U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E;
}
@font-face {
  font-family: 'NotoKR';
  font-weight: 700;
  font-display: auto;
  src: local(NotoSansKR-Medium);
  src:url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2') format('woff2'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff') format('woff'),
		url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf') format('opentype');
		unicodeRange:
		   /****** Unicode Range **********/
		  /**** 영문 : ****/
		  U+0020-U+0020,U+0041-U+005A,U+0061-U+007A,
		  /**** 숫자 : ****/
		  U+0030-U+0039,U+002E-U+002E ,
		  /**** 한글 : ****/
		  U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60,
		  /**** 라틴 : ****/
		  U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E;
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 400;
  font-display: fallback;
  src:url(font/nanumMyeongjoR.eot);
  src: local(nanumMyeongjoR);
  src:url(font/nanumMyeongjoR.eot?#iefix) format('embedded-opentype'),
  url(font/nanumMyeongjoR.woff) format('woff'),
  url(font/nanumMyeongjoR.otf) format('opentype');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-display: fallback;
   src: local(Roboto-Bold);
   src: url(font/Roboto-Bold.woff2) format('woff2'),
        url(font/Roboto-Bold.woff) format('woff'),
        url(font/Roboto-Bold.otf) format('opentype');
}

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap'); */
/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); */

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body,button,input,select,table,textarea{font-family:'NotoKR','Malgun Gothic',Arial,sans-serif;font-size:15px;font-weight:500;color:#595959;line-height:1.3;letter-spacing:-1px}
html{height:100%}
body{height:100%;-webkit-text-size-adjust:none}
button,fieldset,img{border:0 none}
fieldset,img{border:0}
img,li{vertical-align:top}
li,ol,ul{list-style:none}
address,em{font-style:normal}
a{color:inherit;text-decoration:none}
a:active,a:focus,a:hover{text-decoration:none}
button{border:0;background:0 0;cursor:pointer}
table{margin:0;padding:0;border:0;border-spacing:0;border-collapse: collapse;}
input,select,textarea,button{vertical-align:top}
input,select,textarea{border:0;background:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
select::-ms-expand{display:none}
textarea{resize:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;}
embed,iframe,img,object,video{max-width:100%}
input[type=search]::-ms-clear,input[type=search]::-ms-reveal,input[type=text]::-ms-clear,input[type=text]::-ms-reveal{display:none;width:0;height:0}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0;background-color:transparent}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
.ir-text,legend,.blind{overflow:hidden;position:absolute;border:0;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
form {margin:0;padding:0;}
fieldset {margin:0;padding:0;border:0 none;}
legend {display:none;}
caption{position:absolute; left:-10000px;}
.clfx:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}

@media screen and (max-width:1239px){
  html{font-size:10px;font-size:0.625rem;}
  body,button,input,select,table,textarea{font-size:1.6rem;letter-spacing:-0.05rem;}
}


@media (min-width:768px) and (max-width:1024px){

}

@media screen and (max-width:767px) {
  html{font-size:10px;font-size:0.625rem;-webkit-text-size-adjust: none;}
  body,html{height:100%}
  body,button,input,select,table,textarea{font-size:1.5rem}
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }
.mb_25{margin-bottom:25px !important;}